apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ project_name }}
  namespace: default
spec:
  selector:
    matchLabels:
      location: prd
      app: {{ project_name }}
  replicas: 2
  template:
    metadata:
      labels:
        location: prd
        app: {{ project_name }}
    spec:
      containers:
      - name: {{ project_name }}
        image: {{ docker_hub_name }}/{{ project_name }}:latest
        ports:
        - containerPort: 8081
        imagePullPolicy: Always
