apiVersion: v1
kind: Service
metadata:
  name: {{ project_name }}
  namespace: default
  labels:
    app: {{ project_name }}
    location: prd
spec:
  ports:
  - port: 8081
  selector:
    location: prd
    app: {{ project_name }}
  type: NodePort
